* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(gold1.avif) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 4px solid goldenrod;
}

header .name {
  color: goldenrod;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  left: 1px;
}
header .navigation a {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: goldenrod;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 15px;
  
}

header .navigation a:hover{
    color: #fff;
    transition: 0.2s;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  padding: 5px;
  border: 2px;
  border-radius: 20%;
  border-color: #333;
}

.USD {
  border: 3px solid goldenrod;
  padding: 25px 55px;
  background-color: black;
  border-radius: 20px;
  font-size: 25px;
  color: goldenrod;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

.facebook{
    color: goldenrod;
    border: 3px solid goldenrod;
    padding: 20px;
    background-color: #282929;
    border-radius: 9px;
    margin-left: 40px;
    
   
   
}

.insta{
    color: goldenrod;
    border: 3px solid goldenrod;
    padding: 20px;
    background-color: #282929;
    border-radius: 9px;
    margin-left: 40px;
  
   
}

.phone{
    color: goldenrod;
    border: 3px solid goldenrod;
    padding: 20px;
    background-color: #282929;
    border-radius: 9px;
    margin-left: 40px;
   
}

.facebook:hover{
    background-color: #fff;
    transition: 0.3s;
}

.insta:hover{
    background-color: #fff;
    transition: 0.3s;
}

.phone:hover{
    background-color: #fff;
    transition: 0.3s;
}
.timer{
    color: goldenrod;
    border: 3px solid goldenrod;
    padding: 10px;
    background-color: #282929;
    border-radius: 5px;
    margin-left: 10px;
   
   
}

.language{
    background-color: goldenrod;
}

.middle {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 16px;
  gap: 8px;
  margin-left: 50px;
}

table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  margin-top: 40px;
  align-items: center;
  font-size: 50px;

}

th,
td {
  border: 2px solid black;
  padding: 20px;
  align-items: center;
  width: 350px;
  text-align: center;
}

th {
  background-color: #333;
  color: goldenrod;
  width: 350px;
  text-transform: uppercase;
  border-bottom: 2.5px;
}

thead {
  font-size: 25px;
  font-weight: 400;
  color: goldenrod;
}
